body {
  font-family: var(--primary-font);
  margin: 0;
  line-height: 1.25;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: var(--title-font);
}

.menu-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-top: 4px dashed;
  border-top: 4px solid\9 ;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.text--lightblue {
  font-weight: 600;
  color: var(--light-blue-text);
}

.section-title {
  font-family: var(--title-font);
  font-size: 36px;
  background: -webkit-linear-gradient(#333d5e, #4aa7f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 60px 0;
}

.btn-grad {
  font-size: 14px;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #144da4;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.5s;
  place-content: center;
}

.btn-grad:hover,
.btn-grad:focus {
  background: linear-gradient(180deg, #144da4, transparent) #4aa7f0;
  color: #fff;
}

:root {
  --primary-font: "IBM Plex Sans", sans-serif;
  --logo-font: "Fira Sans Condensed", sans-serif;
  --title-font: "Inter", sans-serif;
  --buttons-font: "Inter", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --light-blue-text: #a8d5f8;
  --grey-text-color: #6c6c6c;
  --price-accent-color: #333d5e;
  --price-card-bcg: #e9f5ff;
  --accent-color: #4aa7f0;
  --primary-background-color: #ffffff;
  /* --secondary-background-color: linear-gradient(red, yellow); */
  --secondary-background-color: #191f32;
  --opacity-text-color: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* --card-set-gap: 30px; */
  /* --timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.page-header {
  background-color: var(--secondary-background-color);
}

.topbar {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30%;
}

.topbar--bottomline {
  border-bottom: 1px solid #747474;
}

.topbar-quality {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  width: 50%;
}

.topbar-quality__link {
  font-size: 14px;
  color: var(--secondary-text-color);
  position: relative;
  white-space: nowrap;
  text-decoration: underline;
  display: flex;
  align-items: center;
}
.topbar-quality__link:hover, .topbar-quality__link:focus {
  color: var(--light-blue-text);
}

.topbar-quality__title {
  margin-right: 6px;
}

.topbar-quality__svg {
  fill: transparent;
}

.planet-icon {
  fill: currentColor;
}

.big-arrow {
  fill: currentColor;
}

.topbar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.dropdown__button {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 5px;
  align-items: center;
  display: flex;
  transition: color 300ms var(--timing-function);
}
.dropdown__button:hover, .dropdown__button:focus {
  color: var(--accent-color);
}

.topbar__button {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-text-color);
  border-radius: 8px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 300ms var(--timing-function), color 300ms var(--timing-function);
}
.topbar__button:hover {
  color: var(--secondary-background-color);
  background-color: var(--primary-background-color);
}

.topbar__button--white {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}
.topbar__button--white:hover, .topbar__button--white:focus {
  background-color: var(--light-blue-text);
  border-color: var(--light-blue-text);
}

.button-lang {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  text-transform: none;
  width: 100%;
}
.button-lang:hover {
  background-color: var(--secondary-background-color);
  color: var(--light-blue-text);
}

.button-lang__list {
  width: 100%;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 0;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 60%;
}

.navbar__item {
  position: relative;
}

.vsys-logo {
  font-family: var(--logo-font);
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  white-space: nowrap;
}

.navbar-dropdown {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  padding: 0;
}

.dropdown--mt14 {
  margin-top: 14px;
}

.dropdown__link {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary-text-color);
  white-space: nowrap;
  padding: 10px 15px;
  transition: background-color 300ms var(--timing-function);
}
.dropdown__link:hover, .dropdown__link:focus {
  background-color: var(--light-blue-text);
}

.dropdown__button--open + .navbar-dropdown {
  display: block;
}

.vsys-logo--christmas-hat::before {
  content: "";
  display: block;
  position: absolute;
  left: -14px;
  top: -25px;
  width: 50px;
  height: 54px;
}

.vsys-logo__virtual {
  color: #4aa7f0;
}

.mobile-open {
  overflow: hidden;
}

.menu-button {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.menu-button .icon-close {
  display: none;
}

.icon-menu {
  fill: currentColor;
}

.icon-close {
  fill: currentColor;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-social {
  display: none;
}

.site-nav__link.site-nav__link--active {
  color: var(--accent-color);
}

.mobile-menu {
  width: 60%;
}

@media screen and (max-width: 1199px) {
  .topbar {
    gap: 5%;
  }
  .mobile-menu {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .topbar {
    display: none;
  }
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
    color: aliceblue;
  }
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #191f32 2.92%, #305e8a 49.72%, #4aa7f0 97.41%);
    z-index: 1;
    opacity: 0;
    transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
  }
  .mobile-menu .mobile-menu__container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    align-items: center;
  }
  .mobile-menu .navbar__list {
    flex-flow: column;
  }
  .mobile-menu .navbar__item {
    width: 50%;
  }
  .mobile-menu .navbar-dropdown {
    background-color: rgba(168, 213, 248, 0.1);
    display: block;
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 300ms var(--timing-function);
  }
  .mobile-menu .dropdown__link {
    color: var(--secondary-text-color);
    transition: color 300ms var(--timing-function), background-color 300ms var(--timing-function);
  }
  .mobile-menu .dropdown__link:hover {
    color: var(--primary-text-color);
  }
  .mobile-menu .dropdown__button--open ~ .navbar-dropdown {
    max-height: 25rem;
  }
  .mobile-menu .dropdown__button {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
}
.hero {
  position: relative;
  background: linear-gradient(180deg, #191f32 2.92%, #305e8a 49.72%, #4aa7f0 97.41%);
}
.hero .section {
  padding-top: 40px;
  padding-bottom: 200px;
}

.hero__background-img {
  background-image: url(/images/hero-decor.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
}

.hero__content {
  display: flex;
  flex-flow: column;
  position: relative;
}

.hero__title {
  font-family: var(--title-font);
  font-size: 40px;
  line-height: 1.3;
  width: 100%;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__thumb {
  gap: 10%;
  display: flex;
}

.hero__info {
  order: 1;
  width: 60%;
}

.hero__description {
  color: var(--secondary-text-color);
  font-size: 20px;
  margin-bottom: 20px;
}

.hero__buttons {
  display: flex;
  gap: 20px;
}

.hero__image {
  display: flex;
  justify-content: center;
  width: 30%;
  order: 2;
}

.hero__svg {
  min-width: fit-content;
}

.hero__button {
  font-family: var(--buttons-font);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 500;
  padding: 15px 20px;
  border-radius: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.hero__button--white {
  color: var(--accent-color);
  background-color: var(--primary-background-color);
}
.hero__button--white:hover {
  color: var(--secondary-text-color);
  background-color: transparent;
}

.hero__button--blue {
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid var(--primary-background-color);
  transition: border 300ms var(--timing-function), background-color 300ms var(--timing-function), color 300ms var(--timing-function);
}
.hero__button--blue:hover {
  color: var(--accent-color);
  background-color: var(--primary-background-color);
}

.slider__viewbox {
  overflow: hidden;
}

.slider-content {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 300ms var(--timing-function);
}

.slider__container {
  width: 100%;
  flex-shrink: 0;
}

.slider__controls {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1199px) {
  .hero__thumb {
    display: flex;
    order: 2;
  }
  .hero__image {
    display: flex;
    order: 1;
    margin: 0 auto;
  }
  .hero__thumb {
    flex-flow: column-reverse;
  }
  .hero__info {
    width: 100%;
  }
  .hero__buttons {
    gap: 80px;
    justify-content: center;
  }
  .hero__title--nowrap {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hero__buttons {
    flex-flow: column;
  }
}
.slider__controls {
  display: none;
}

#serversContent,
#hostingContent,
#cloudContent,
#servicesContent {
  display: none;
}

.services-menu:has(#servers_button:checked) ~ #serversContent,
.services-menu:has(#hosting_button:checked) ~ #hostingContent,
.services-menu:has(#cloud_button:checked) ~ #cloudContent,
.services-menu:has(#services_button:checked) ~ #servicesContent {
  display: block;
}

.services__container {
  position: relative;
}

input[type=radio] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.services-menu {
  display: flex;
  justify-content: space-between;
}

.services-cards__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.services-cards__item {
  width: 25%;
  padding: 20px 20px;
  border-radius: 15px;
}
.services-cards__item:hover {
  filter: drop-shadow(0px 5px 11px rgba(0, 0, 0, 0.25));
  transform: scale(1.02);
}

.services-cards__item--blue {
  background-color: var(--price-card-bcg);
}

.services-cards__item--white {
  background-color: var(--primary-background-color);
  outline: 3px solid var(--price-card-bcg);
}
.services-cards__item--white .services-cards__price {
  background-color: var(--price-card-bcg);
}
.services-cards__item--white:hover {
  outline: none;
}

.services-cards__title {
  text-align: center;
  margin-bottom: 20px;
}

.services-cards__price {
  flex-flow: var(--title-font);
  font-weight: 900;
  color: var(--accent-color);
  font-size: 18px;
  max-width: fit-content;
  margin: 0 auto;
  background-color: var(--primary-background-color);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 20px;
}

.services-cards__info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 6px;
}

.services-cards__value {
  font-size: 12px;
  text-align: right;
  opacity: 1;
}

.serversContent {
  width: 100%;
}

.services-cards__button--white {
  font-family: var(--buttons-font);
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  outline: 1px solid var(--primary-background-color);
}
.services-cards__button--white:hover {
  color: var(--accent-color);
  background-color: var(--primary-background-color);
  outline: 1px solid var(--accent-color);
}

.services-dedicated__title {
  color: var(--primary-text-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.services-dedicated__list {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  row-gap: 40px;
}

.services-dedicated__item {
  width: 30%;
}
.services-dedicated__item:hover .services-dedicated__title {
  color: var(--accent-color);
}

.menu-arrow--right {
  border-top: 6px dashed;
  border-top: 6px solid\9 ;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  transform: rotate(-90deg);
}

.services-dedicated__description {
  color: var(--primary-text-color);
  font-size: 14px;
}

.services-vps__list {
  gap: 60px;
  display: flex;
  justify-content: space-between;
}

.services-vps__item {
  width: 25%;
}

.services-vps__link {
  text-align: center;
  width: 100%;
  color: var(--accent-color);
  outline: 1px solid var(--accent-color);
  border-radius: 15px;
  padding: 10px 15px;
  white-space: nowrap;
}
.services-vps__link:hover {
  background: linear-gradient(180deg, #144da4, transparent) #4aa7f0;
  color: var(--secondary-text-color);
  outline: none;
}

.faq {
  position: relative;
}

.accordion {
  width: 50%;
}

.accordion__item {
  border-bottom: 1px solid var(--grey-text-color);
  margin-top: 10px;
}

.accordion__btn {
  width: 100%;
  border: none;
  background-color: transparent;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.accordion__btn:focus + .accordion__info {
  max-height: 2rem;
}
.accordion__btn:focus > .accordion__arrow {
  transform: rotate(90deg);
}

.accordion__title {
  color: var(--primary-text-color);
  font-family: var(--title-font);
  white-space: nowrap;
  font-size: 18px;
  text-transform: uppercase;
}

.accordion__info {
  color: var(--grey-text-color);
  max-height: 0rem;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 10px;
  transition: max-height 300ms var(--timing-function);
}

.accordion__arrow {
  fill: currentColor;
  transform: rotate(0deg);
  transition: transform 300ms var(--timing-function);
}

.accordion__svg {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .accordion {
    width: 100%;
  }
}
.footer {
  background-color: var(--secondary-background-color);
  padding: 40px 0;
}
.footer .vsys-logo {
  margin-bottom: 20px;
}

.footer__content {
  display: flex;
  gap: 10%;
}

.footer__description {
  color: var(--secondary-text-color);
  min-width: 45%;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-nav {
  min-width: 45%;
  justify-content: space-between;
  display: flex;
}

.footer__box {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.footer-nav__list {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.footer__subtitle {
  font-family: var(--title-font);
  color: var(--secondary-text-color);
  font-size: 14px;
  text-transform: uppercase;
}

.footer-nav__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  transition: color 300ms var(--timing-function);
  text-transform: uppercase;
}
.footer-nav__link:hover {
  color: var(--accent-color);
}

.footer-contacts__adress {
  color: var(--secondary-text-color);
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
}

.footer-contacts__link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.footer-contacts__phone {
  font-family: var(--title-font);
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-contacts__mail {
  font-family: var(--title-font);
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
}

.footer-social__list {
  min-width: 25%;
  display: flex;
  justify-content: space-between;
}

.footer-payment {
  display: flex;
  min-width: 45%;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  gap: 30%;
  margin-top: 30px;
}

.footer-payment__subtitle {
  font-size: 14px;
}

.footer-payment__link {
  width: 60px;
  height: 40px;
  background-color: var(--primary-background-color);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.footer-payment__img {
  margin: 0 auto;
}

.footer-payment > .footer__subtitle {
  width: 70px;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .footer__description {
    margin-bottom: 30px;
  }
  .footer__content {
    flex-flow: column;
  }
  .footer-contacts__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .footer-info {
    gap: 15%;
  }
  .footer-payment {
    width: 100%;
  }
  .footer-payment .footer__subtitle {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .footer-info {
    flex-flow: column;
    gap: 30px;
  }
  .footer-payment {
    width: 100%;
  }
  .footer-social__list {
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */