.advantages {
  padding-bottom: 80px;
}

.advantages-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  column-gap: 60px;
}

.advantages-steps__list {
  justify-content: space-between;
  width: 100%;
  display: flex;
  gap: 30px;
}

.advantages-steps__item {
  width: 30%;
}

.advantages-steps .section-subtitle {
  margin-bottom: 30px;
}

.advantages__list {
  row-gap: 40px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  width: 30%;
}

.advantages__subtitle {
  text-align: center;
  margin-bottom: 30px;
}

.advantages__image {
  display: block;
  margin: 0 auto 20px;
}

@media screen and (max-width: 1199px) {
  .advantages__item {
    width: 45%;
  }
}

@media screen and (max-width: 767px) {
  .advantages-steps {
    flex-flow: column;
    margin-bottom: 30px;
  }

  .advantages-steps img {
    margin: 0 auto 30px;
    width: 50%;
  }

  .advantages-steps .section-title {
    text-align: center;
  }

  .advantages-steps__section {
    justify-content: center;
  }

  .advantages-steps__list {
    width: 100%;
    flex-flow: column;
    gap: 40px;
  }

  .advantages-steps__item {
    width: 100%;
  }

  .advantages__item {
    width: 100%;
  }
}
