.article-page__content {
  padding: 30px 0;
}

.article-page__image {
  width: 50%;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

.article-page__title {
  font-size: 30px;
  margin-bottom: 10px;
}

.article-page__label {
  display: block;
  font-weight: 500;
}

.article-page__subtitle {
  margin: 20px 0;
}

.share-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.share-article__content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.share-article__item {
  color: var(--primary-background-color);
}

.share-article__link {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: color var(--timing-function),
    background-color var(--timing-function);

  &:hover {
    background-color: var(--primary-background-color);
    color: var(--accent-color);
  }
}

.share-article__icon {
  color: var(--secondary-background-color);
}

.share-article__image {
  fill: currentColor;
}

.share-article__list {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .share-article__content {
    gap: 10px;
  }

  .share-article__list {
    gap: 10px;
  }

  .article-page__label {
    font-size: 12px;
  }

  .article-page__image {
    width: 100%;
    float: none;
  }

  .article-page__subtitle {
    text-align: center;
  }
}
