.availability {
  padding-top: 80px;
  padding-bottom: 80px;
}

.availability__section {
  display: flex;
  justify-content: space-between;
}

.availability__list {
  display: flex;
}

.availability__info {
  width: 75%;
}

.availability .section-subtitle {
  margin-bottom: 40px;
}

.availability__subtitle {
  font-family: var(--title-font);
  font-size: 16px;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  .availability__img {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 767px) {
  .availability .section-title {
    text-align: center;
  }

  .availability__section {
    justify-content: center;
  }

  .availability__list {
    width: 100%;
    flex-flow: column;
    gap: 40px;
  }

  .availability__img {
    display: none;
  }
}
