.blog__title {
  margin-top: 60px;
}

.main-blog__list {
  justify-content: space-between;
  padding-bottom: 60px;
  display: flex;
}

.main-blog__item {
  display: flex;
  width: 30%;
  justify-content: space-between;
  background-color: var(--price-card-bcg);
  transition: box-shadow var(--timing-function),
    transform var(--timing-function);
  filter: drop-shadow(0px 5px 11px rgba(0, 0, 0, 0.15));
}

.main-blog__item:hover {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
  transform: scale(1.02);
}

.main-blog__item:hover .main-blog__text {
  transform: translateY(0);
}

.main-blog__description {
  overflow: hidden;
  position: relative;
}

.main-blog__thumb {
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 10px;
}

.main-blog__info {
  display: flex;
  justify-content: space-between;
}

.main-blog__author {
  font-size: 12px;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  color: var(--price-accent-color);
  font-weight: 700;
  width: 100%;
  position: relative;
  // text-decoration-line: underline;
  transition: color var(--timing-function);
  // position: relative;

  &:hover {
    color: var(--accent-color);
  }

  // &::after {
  //   content: "";
  //   color: inherit;
  //   border-bottom: 1px solid;
  //   display: block;
  //   width: 36%;
  //   position: absolute;
  //   bottom: 0px;
  //   left: 2px;
  // }
}

.main-blog__icon {
  margin-right: -2px;
  margin-bottom: 2px;
  transform: scale(0.8);
}
// .main-blog__icon {
//   margin-right: 5px;
// }

.main-blog__text {
<<<<<<< HEAD
  display: flex;
  color: var(--primary-text-color);
  // background-color: var(--primary-background-color);
  overflow: hidden;
  justify-content: center;
=======
  background-color: var(--primary-background-color);
>>>>>>> fcc9d843835a581e362d574b59d3beae50d32521
  position: absolute;
  padding: 10px;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--timing-function);
}

.main-blog__image {
  fill: currentColor;
}

.main-blog__datetime {
  font-size: 12px;
}

.main-blog__title {
  text-transform: inherit;
}

.main-blog__image {
  width: 100%;
}

.tag__list {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  margin-bottom: 60px;
}

.tag__item {
  background-color: var(--price-card-bcg);
  // transition: outline var(--timing-function);
}

.tag__link {
  height: 100%;
  font-size: 14px;
  color: var(--accent-color);
  padding: 5px 10px;

  &:hover {
    color: var(--accent-color);
  }
}

.tag__item:hover {
  outline: 1px solid var(--accent-color);
}

.tag__subtitle {
  display: flex;
  align-items: center;
}

.blog-article__list {
  flex-flow: wrap;
  row-gap: 30px;
}

.blog-article__item {
  width: 22%;
}

@media screen and (min-width: 1199px) {
  .display-none--desk {
    display: none;
  }

  .main-blog__text {
    background-color: var(--primary-background-color);
  }
}

@media screen and (max-width: 1199px) {
  .main-blog__item {
    background-color: var(--primary-background-color);
  }

  .main-blog__article {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .display-none--mobile {
    display: none;
  }

  .main-blog__list {
    gap: 30px;
  }

  .main-blog__text {
    height: fit-content;
    position: relative;
    transform: none;
    padding: 0;
  }

  .main-blog__description {
    display: flex;
    flex-flow: column;
    gap: 10px;
  }

  .main-blog__thumb {
    padding: 10px;
  }

  .other-blog__list {
    flex-flow: column;
  }

  .other-blog__item {
    width: 100%;
  }

  .other-blog__article {
    flex-flow: inherit;
    align-items: center;
  }

  .other-blog__info {
    order: 2;
  }

  .other-blog__link {
    width: 35%;
  }

  .other-blog__thumb {
    width: 65%;
    height: 100%;
    justify-content: space-between;
  }
}

// @media screen and (max-width: 767px) {
//   .display-none--mobile {
//     display: none;
//   }

//   .main-blog__list {
//     flex-flow: column;
//     gap: 30px;
//   }

//   .main-blog__item {
//     width: 100%;
//   }

//   .main-blog__text {
//     position: relative;
//     transform: none;
//   }
// }
