.main-article__section {
  padding-bottom: 60px;
}

.blog__title {
  margin-top: 60px;
}

.main-article__list {
  justify-content: space-between;

  display: flex;
}

.main-article__item {
  display: flex;
  width: 30%;
  justify-content: space-between;
  background-color: var(--price-card-bcg);
  transition: box-shadow var(--timing-function),
    transform var(--timing-function);
  filter: drop-shadow(0px 5px 11px rgba(0, 0, 0, 0.15));
}

.main-article__item:hover {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
  transform: scale(1.02);
}

.main-article__item:hover .main-article__text {
  transform: translateY(0);
}

.main-article__description {
  overflow: hidden;
  position: relative;
}

.main-article__thumb {
  display: flex;
  flex-flow: column;
}

.main-article__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-article__author {
  font-size: 12px;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  color: var(--price-accent-color);
  font-weight: 700;
  width: 100%;
  position: relative;
  padding: 10px;
  transition: color var(--timing-function);
  // position: relative;

  &:hover {
    color: var(--accent-color);
  }

  // &::after {
  //   content: "";
  //   color: inherit;
  //   border-bottom: 1px solid;
  //   display: block;
  //   width: 36%;
  //   position: absolute;
  //   bottom: 0px;
  //   left: 2px;
  // }
}

.main-article__icon {
  margin-right: -2px;
  margin-bottom: 2px;
  transform: scale(0.8);
}
// .main-article__icon {
//   margin-right: 5px;
// }

.main-article__text {
  display: flex;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  overflow: hidden;
  justify-content: center;

  position: absolute;
  padding: 10px;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--timing-function);
}

.main-article__image {
  fill: currentColor;
}

.main-article__datetime {
  font-size: 12px;
  padding: 10px;
}

.main-article__article .section-subtitle {
  transition: color var(--timing-function);
}

.main-article__article {
  padding: 10px;

  &:hover .section-subtitle {
    color: var(--accent-color);
  }
}

.main-article__title {
  text-transform: inherit;
}

.main-article__image {
  width: 100%;
}

.tag__section {
  margin-bottom: 60px;
}

.tag__list {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
}

.tag__item {
  background-color: var(--price-card-bcg);
  // transition: outline var(--timing-function);
}

.tag__link {
  height: 100%;
  font-size: 14px;
  color: var(--accent-color);
  padding: 5px 10px;

  &:hover {
    color: var(--accent-color);
  }
}

.tag__item:hover {
  outline: 1px solid var(--accent-color);
}

.tag__subtitle {
  display: flex;
  align-items: center;
}

.article__section {
  padding-bottom: 60px;
}

.article__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.article__item {
  display: flex;
  width: 23%;
  justify-content: space-between;
  background-color: var(--price-card-bcg);
  transition: box-shadow var(--timing-function),
    transform var(--timing-function);
  filter: drop-shadow(0px 5px 11px rgba(0, 0, 0, 0.15));
}

.article__item:hover {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
  transform: scale(1.02);
}

.article__item:hover .article__text {
  transform: translateY(0);
}

.article__description {
  overflow: hidden;
  position: relative;
}

.article__illustration {
  width: 40%;
}

.article__thumb {
  display: flex;
  flex-flow: column;
}

.article__link .section-subtitle {
  font-size: 14px;
}

.article__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__author {
  font-size: 12px;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  color: var(--price-accent-color);
  font-weight: 700;
  width: 100%;
  position: relative;
  padding: 10px;
  transition: color var(--timing-function);
  // position: relative;

  &:hover {
    color: var(--accent-color);
  }

  // &::after {
  //   content: "";
  //   color: inherit;
  //   border-bottom: 1px solid;
  //   display: block;
  //   width: 36%;
  //   position: absolute;
  //   bottom: 0px;
  //   left: 2px;
  // }
}

.article__icon {
  margin-right: -2px;
  margin-bottom: 2px;
  transform: scale(0.8);
}
// .article__icon {
//   margin-right: 5px;
// }

.article__text {
  display: flex;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  overflow: hidden;
  justify-content: center;

  position: absolute;
  padding: 10px;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--timing-function);
}

.article__image {
  fill: currentColor;
}

.article__datetime {
  font-size: 12px;
  padding: 10px;
}

.article__article .section-subtitle {
  transition: color var(--timing-function);
}

.article__article {
  padding: 10px;

  &:hover .section-subtitle {
    color: var(--accent-color);
  }
}

.article__title {
  text-transform: inherit;
}

.article__image {
  width: 100%;
}

@media screen and (min-width: 1199px) {
  .display-none--desk {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .display-none--mobile {
    display: none;
  }

  .main-article__item {
    background-color: var(--primary-background-color);
  }

  .main-article__article {
    &:hover .section-subtitle {
      color: var(--primary-text-color);
    }
  }

  .main-article__link {
    padding: 10px;
  }

  .main-article__link:hover .section-subtitle {
    color: var(--accent-color);
  }

  .main-article__article {
    display: flex;
    flex-flow: column;
    padding: 0px;
  }

  .main-article__list {
    gap: 30px;
  }

  .main-article__text {
    height: fit-content;
    position: relative;
    transform: none;
    padding: 0;
    margin-top: 10px;
  }

  .article__item {
    width: 100%;
    background-color: var(--primary-background-color);
  }

  .article__article {
    &:hover .section-subtitle {
      color: var(--primary-text-color);
    }
  }

  .article__link {
    padding: 10px;
  }

  .article__link:hover .section-subtitle {
    color: var(--accent-color);
  }

  .article__article {
    display: flex;
    align-items: center;
    padding: 0px;
  }

  .display-none--mobile {
    display: none;
  }

  .article__list {
    gap: 30px;
  }

  .article__thumb {
    width: 60%;
  }

  .article__text {
    height: fit-content;
    position: relative;
    transform: none;
    padding: 0;
    margin-top: 10px;
  }

  .article__description {
    display: flex;
    flex-flow: column;
    gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .main-article__list {
    flex-flow: column;
  }

  .main-article__item {
    width: 100%;
  }

  .article__article {
    flex-flow: column;
  }

  .article__illustration {
    width: 100%;
  }

  .article__thumb {
    width: 100%;
  }
}
