.contact {
  background: linear-gradient(
    180deg,
    #191f32 2.92%,
    #305e8a 49.72%,
    #4aa7f0 97.41%
  );
  padding-top: 60px;
  padding-bottom: 120px;

  position: relative;
}

.contact__background-img {
  background-image: url(../images/contact-decor.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  pointer-events: none;
}

.contact__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.contact .section-title {
  margin-bottom: 10px;
}

.contact__call {
  color: var(--secondary-text-color);
  font-size: 18px;
}

// @media screen and (max-width: 1199px) {
// }

@media screen and (max-width: 767px) {
  .contact {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .contact__container {
    display: flex;
    flex-flow: column;
    gap: 30px;
    align-items: center;
  }

  .contact__call {
    text-align: center;
  }
}
