.dedicated-hero {
  background: linear-gradient(
    165.95deg,
    rgba(74, 167, 240, 0.76) 10.01%,
    #e0f1ff 101.3%
  );
  padding-top: 100px;
}
.dedicated-hero__background {
  background-image: url(/images/dedicated-background__image.svg);
}

.hero-dedicated {
  padding-bottom: 60px;
}

.hero-dedicated__list {
  list-style: disc;
  color: var(--secondary-text-color);
  padding-left: 18px;
}

.hero-dedicated__text {
  color: var(--secondary-text-color);
  font-size: 24px;
}

.hero-dedicated__item:not(:last-child) {
  margin-bottom: 10px;
}

.hero-dedicated__svg {
  width: 90%;
}

.dedicated-faq__background {
  background-image: url(/images/dedicated-faq_background.svg);
}

.dedicated-services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.dedicated-services .services-vps__list {
  margin-bottom: 60px;
}

.dedicated-services__list {
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .hero-dedicated__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .hero-dedicated__text {
    font-size: 16px;
  }

  .dedicated-hero {
    .hero {
      padding-bottom: 60px;
    }
    .hero__thumb {
      padding-bottom: 0;
    }
  }
}
