.faq {
  position: relative;
  padding-bottom: 120px;
  padding-top: 80px;
}

.faq__background {
  background-image: url(../images/faq-bcg.svg);
  background-size: 60vw;
  background-repeat: no-repeat;
  background-position: top right;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 100px;
  position: absolute;
  pointer-events: none;
}

.accordion {
  width: 50%;
  position: relative;
}

.accordion__item {
  border-bottom: 1px solid var(--grey-text-color);
  margin-top: 10px;

  &:hover .section-subtitle {
    color: var(--accent-color);
  }
}

.accordion__btn {
  width: 100%;
  border: none;
  background-color: transparent;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: color var(--timing-function), transform var(--timing-function);

  &:focus .accordion__title {
    color: var(--accent-color);
  }

  &:focus + .accordion__info {
    max-height: 4rem;
  }

  &:focus .menu-arrow--right {
    transform: rotate(0deg);
  }
}

.accordion__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color var(--timing-function);
}

.accordion__info {
  color: var(--grey-text-color);
  max-height: 0rem;
  overflow: hidden;
  font-weight: 500;

  line-height: 1.25;
  margin-bottom: 10px;
  transition: max-height var(--timing-function);
}

// .accordion__arrow {
//   fill: currentColor;
//   transform: rotate(0deg);
//   transition: transform var(--timing-function);
// }

.accordion__svg {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .accordion {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .faq {
    position: relative;
    padding-bottom: 60px;
    padding-top: 30px;
  }
}
