.footer {
  background-color: var(--secondary-background-color);
  padding: 40px 0;

  & .vsys-logo {
    margin-bottom: 20px;
  }
}

.footer__content {
  display: flex;
  gap: 10%;
}

.footer__description {
  color: var(--secondary-text-color);
  min-width: 45%;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-nav {
  min-width: 45%;
  justify-content: space-between;
  display: flex;
}

.footer__box {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.footer-nav__list {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.footer__subtitle {
  font-family: var(--title-font);
  color: var(--secondary-text-color);
  font-size: 16px;
  text-transform: uppercase;
}

.footer-nav__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  transition: color 300ms var(--timing-function);

  &:hover {
    color: var(--accent-color);
  }
}

.footer-contacts__adress {
  color: var(--secondary-text-color);
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}

.footer-contacts__link {
  color: var(--secondary-text-color);
  font-style: normal;

  font-weight: 500;
  font-size: 18px;
}

.footer-contacts__phone {
  font-family: var(--title-font);
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-contacts__mail {
  font-family: var(--title-font);
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 18px;
}

.footer__socials {
  min-width: 25%;
  display: flex;
  justify-content: space-between;
}

.footer__payment {
  display: flex;
  min-width: 45%;
  justify-content: space-between;
  align-items: center;
}

.xxx {
  display: flex;
  justify-content: space-between;
  gap: 30%;
  margin-top: 30px;
}

.footer__payment-link {
  width: 70px;
  height: 40px;
  background-color: var(--primary-background-color);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.footer__payment-img {
  margin: 0 auto;
}

.footer__payment > .footer__subtitle {
  width: 70px;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .footer__description {
    margin-bottom: 30px;
  }

  .footer__content {
    flex-flow: column;
  }

  .footer-contacts__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .xxx {
    gap: 15%;
  }

  .footer__payment {
    width: 100%;
  }

  .footer__payment .footer__subtitle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .xxx {
    flex-flow: column;
    gap: 30px;
  }

  .footer__payment {
    width: 100%;
  }

  .footer__socials {
    width: 50%;
  }
}
