.vsys-footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;

  & .vsys-logo {
    margin-bottom: 20px;
  }
}

.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.footer__info {
  min-width: 45%;
}

.footer__description {
  color: var(--secondary-text-color);
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-contact__link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  transition: color var(--timing-function);
  &:hover {
    color: var(--accent-color);
    text-decoration: none;
  }
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 10px;
  /* styles */
}

.footer-nav {
  min-width: 45%;
  justify-content: space-between;
  display: flex;
}

.footer__subtitle {
  font-family: var(--title-font);
  font-size: 16px;
  font-weight: 700;
  // font-weight: 800;
  color: var(--secondary-text-color);
}

.footer-nav__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  padding: 5px 0;
  transition: color var(--timing-function);
  text-transform: uppercase;
  &:hover {
    color: var(--accent-color);
    text-decoration: none;
  }
}

.footer__box {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.footer__thumb {
  display: flex;
  justify-content: space-between;
  gap: 30%;
  margin-top: 30px;
}

.footer-social__list {
  min-width: 25%;
  display: flex;
  justify-content: space-between;
}

.footer-social__link {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: color var(--timing-function),
    background-color var(--timing-function);

  &:hover {
    color: var(--accent-color);
    background-color: transparent;
  }
}

.footer-social__svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__svg--color {
  fill: currentColor;
}

.footer-payment__list {
  min-width: 45%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.footer-payment__item {
  align-items: center;
}

.footer-payment__img {
  width: 60px;
  height: 45px;
}

.footer-payment > .footer__subtitle {
  width: 70px;
  align-items: center;
  font-size: 14px;
}

@media screen and (max-width: 1199px) {
  .footer__content {
    flex-flow: column;
    gap: 30px;
  }

  .footer__thumb {
    flex-flow: column;
    gap: 30px;
  }

  .footer-social__list {
    margin: 0 auto;
    width: 50%;
  }

  .footer-payment {
    width: 100%;
  }

  .footer-payment .footer__subtitle {
    display: none;
  }

  .footer-payment__list .footer__subtitle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .footer-payment {
    row-gap: 20px;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer-social__list {
    width: 50%;
  }

  .footer__box {
    width: 30%;
  }

  .footer-social__list {
    width: 85%;
    display: flex;
    margin: 0 auto;
  }

  .footer-payment__list {
    row-gap: 20px;
    flex-wrap: wrap;
  }

  .footer-payment__item {
    width: 30%;
    display: flex;
    justify-content: center;
  }
}
