.footer {
  background-color: var(--secondary-background-color);
  padding: 40px 0;

  & .vsys-logo {
    margin-bottom: 20px;
  }
}

.footer__content {
  display: flex;
  gap: 10%;
}

.footer__description {
  color: var(--secondary-text-color);
  min-width: 45%;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-nav {
  min-width: 45%;
  justify-content: space-between;
  display: flex;
}

.footer__box {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.footer-nav__list {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.footer__subtitle {
  font-family: var(--title-font);
  color: var(--secondary-text-color);
  font-size: 14px;
  text-transform: uppercase;
}

.footer-nav__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  transition: color 300ms var(--timing-function);
  text-transform: uppercase;

  &:hover {
    color: var(--accent-color);
  }
}

.footer-contacts__adress {
  color: var(--secondary-text-color);
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
}

.footer-contacts__link {
  color: var(--secondary-text-color);
  font-style: normal;

  font-weight: 500;
  font-size: 18px;
}

.footer-contacts__phone {
  font-family: var(--title-font);
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-contacts__mail {
  font-family: var(--title-font);
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
}

.footer-social__list {
  min-width: 25%;
  display: flex;
  justify-content: space-between;
}

.footer-payment {
  display: flex;
  min-width: 45%;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  gap: 30%;
  margin-top: 30px;
}

.footer-payment__subtitle {
  font-size: 14px;
}

.footer-payment__link {
  width: 60px;
  height: 40px;
  background-color: var(--primary-background-color);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.footer-payment__img {
  margin: 0 auto;
}

.footer-payment > .footer__subtitle {
  width: 70px;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .footer__description {
    margin-bottom: 30px;
  }

  .footer__content {
    flex-flow: column;
  }

  .footer-contacts__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .footer-info {
    gap: 15%;
  }

  .footer-payment {
    width: 100%;
  }

  .footer-payment .footer__subtitle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .footer-info {
    flex-flow: column;
    gap: 30px;
  }

  .footer-payment {
    width: 100%;
  }

  .footer-social__list {
    width: 50%;
  }
}
