.page-header {
  background-color: var(--secondary-background-color);
  position: sticky;
  top: -60px;
  z-index: 10;
}

.topbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30%;
}

.topbar--bottomline {
  border-bottom: 1px solid #747474;
}

.topbar-quality {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  width: 50%;
}

.topbar-quality__link {
  color: var(--secondary-text-color);
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition: color var(--timing-function);
  margin-left: -10px;

  &:hover,
  &:focus {
    color: var(--light-blue-text);
  }
}

.topbar-quality__title {
  margin-right: 6px;
}

.topbar-quality__svg {
  fill: transparent;
  transform: scale(0.8);
}

.planet-icon {
  fill: currentColor;
  transform: scale(0.8);
}

.big-arrow {
  fill: currentColor;
}

.topbar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

// .topbar__button {
//   color: var(--secondary-text-color);
//   background-color: transparent;
//   text-transform: uppercase;
//   border: 1px solid var(--secondary-text-color);
//   border-radius: 10px;
//   padding: 6px 16px;
//   display: flex;
//   align-items: center;
//   white-space: nowrap;
//   cursor: pointer;
//   transition: background-color var(--timing-function),
//     color var(--timing-function), border-color var(--timing-function);

//   &:hover {
//     color: var(--secondary-background-color);
//     background-color: var(--primary-background-color);
//   }
// }

.button--lang {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  text-transform: none;
  width: 100%;
  background-color: transparent;

  &:hover {
    color: var(--light-blue-text);
  }
}

.dropdown__menu--lang {
  width: 100%;
  margin-top: -8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__item {
  cursor: pointer;
  position: relative;
}

.vsys-logo {
  font-family: var(--logo-font);
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  position: relative;
  white-space: nowrap;
}

.vsys-logo:hover {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.vsys-logo__virtual {
  font-size: 16px;
  font-weight: 900;
  font-family: var(--logo-font);
  color: #4aa7f0;
}

.mobile-open {
  overflow: hidden;
}

.menu-button {
  cursor: pointer;
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;

  .icon-close {
    display: none;
  }
}

.icon-menu {
  fill: currentColor;
}

.icon-close {
  fill: currentColor;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-social {
  display: none;
}

.site-nav__link.site-nav__link--active {
  color: var(--accent-color);
}

.mobile-menu {
  width: 70%;
}

.mobile-menu__buttons {
  display: none;
}

@media screen and (max-width: 1199px) {
  .topbar {
    gap: 5%;
  }

  .mobile-menu {
    width: 100%;
    flex-basis: fit-content;
  }

  .vsys-logo,
  .vsys-logo__virtual {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .topbar {
    display: none;
  }
  .page-header {
    top: 0;
  }

  .topbar {
    gap: 5%;
    padding: 5px 0;
  }
  .topbar-quality {
    display: none;
  }

  .topbar-buttons {
    width: 100%;
  }

  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
    color: aliceblue;
  }

  .mobile-menu {
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 51px;
    width: 100vw;
    height: calc(100vh - 51px);
    height: calc(100dvh - 51px);
    background: linear-gradient(
      180deg,
      #191f32 2.92%,
      #305e8a 49.72%,
      #4aa7f0 97.41%
    );
    z-index: 1;
    opacity: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    transition: transform var(--timing-function), opacity var(--timing-function);
    pointer-events: none;

    &.is-open {
      opacity: 1;
      transform: translateY(0%);
      pointer-events: all;
    }

    .mobile-menu__vsys-container {
      padding-left: 60px;
      padding-right: 60px;
    }

    .navbar__list {
      flex-flow: column;
    }
  }

  .navbar__item {
    width: 100%;
  }

  .dropdown__menu--lang {
    background-color: var(--primary-background-color);

    z-index: 5;
    position: absolute;
    top: 52px;

    & .dropdown__link {
      color: var(--primary-text-color);
    }
  }

  .mobile-menu__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
  }

  .navbar__item--width {
    width: 100px;
  }

  .button--lang {
    width: 100%;
  }
}
