.page-header {
  background-color: var(--secondary-background-color);
}

.topbar {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30%;
}

.topbar--bottomline {
  border-bottom: 1px solid #747474;
}

.topbar-quality {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  width: 50%;
}

.topbar-quality__link {
  font-size: 14px;
  color: var(--secondary-text-color);
  position: relative;
  white-space: nowrap;
  text-decoration: underline;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: var(--light-blue-text);
  }
}

.topbar-quality__title {
  margin-right: 6px;
}

.topbar-quality__svg {
  fill: transparent;
}

.planet-icon {
  fill: currentColor;
}

.big-arrow {
  fill: currentColor;
}

.topbar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.dropdown__button {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 5px;
  align-items: center;
  display: flex;
  transition: color 300ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.topbar__button {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-text-color);
  border-radius: 8px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 300ms var(--timing-function),
    color 300ms var(--timing-function);

  &:hover {
    color: var(--secondary-background-color);
    background-color: var(--primary-background-color);
  }
}

.topbar__button--white {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    // color: var(--secondary-text-color);
    background-color: var(--light-blue-text);
    border-color: var(--light-blue-text);
  }
}

.button-lang {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  text-transform: none;
  width: 100%;

  &:hover {
    background-color: var(--secondary-background-color);
    color: var(--light-blue-text);
  }
}

.button-lang__list {
  width: 100%;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 0;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 60%;
}

.navbar__item {
  position: relative;
}

.vsys-logo {
  font-family: var(--logo-font);
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  white-space: nowrap;
}

.navbar-dropdown {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);

  padding: 0;
}

.dropdown--mt14 {
  margin-top: 14px;
}

.dropdown__link {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary-text-color);
  white-space: nowrap;
  padding: 10px 15px;
  transition: background-color 300ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--light-blue-text);
  }
}

.dropdown__button--open + .navbar-dropdown {
  display: block;
}

.vsys-logo--christmas-hat {
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -14px;
    top: -25px;
    width: 50px;
    height: 54px;
    // background-image: url(/images/for-sprite-delete/christmas-hat.svg);
  }
}

.vsys-logo__virtual {
  color: #4aa7f0;
}

.mobile-open {
  overflow: hidden;
}

.menu-button {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;

  .icon-close {
    display: none;
  }
}

.icon-menu {
  fill: currentColor;
}

.icon-close {
  fill: currentColor;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-social {
  display: none;
}

.site-nav__link.site-nav__link--active {
  color: var(--accent-color);
}

.mobile-menu {
  width: 60%;
}

@media screen and (max-width: 1199px) {
  .topbar {
    gap: 5%;
  }

  .mobile-menu {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .topbar {
    display: none;
  }

  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
    color: aliceblue;
  }

  .mobile-menu {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      180deg,
      #191f32 2.92%,
      #305e8a 49.72%,
      #4aa7f0 97.41%
    );
    z-index: 1;
    opacity: 0;
    // transform: translateY(-100%);
    transition: transform 250ms var(--timing-function),
      opacity 250ms var(--timing-function);
    pointer-events: none;

    &.is-open {
      opacity: 1;
      transform: translateY(0%);
      pointer-events: all;
    }

    .mobile-menu__container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
      align-items: center;
    }

    .navbar__list {
      flex-flow: column;
    }

    .navbar__item {
      width: 50%;
    }

    .navbar-dropdown {
      background-color: rgba(168, 213, 248, 0.1);
      display: block;
      position: relative;
      overflow: hidden;
      max-height: 0;
      transition: max-height 300ms var(--timing-function);
    }

    .dropdown__link {
      color: var(--secondary-text-color);
      transition: color 300ms var(--timing-function),
        background-color 300ms var(--timing-function);

      &:hover {
        color: var(--primary-text-color);
      }
    }

    //   .dropdown__link:hover {
    //     color: var(--primary-text-color);
    //   }
    // }

    .dropdown__button--open ~ .navbar-dropdown {
      max-height: 25rem;
    }

    .dropdown__button {
      padding-left: 0;
      padding-right: 0;

      width: 100%;
      justify-content: space-between;
      // border-bottom: 0.5px solid currentColor;
    }
  }
}
