.prices__container {
  position: relative;
}

.prices-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  position: absolute;
  bottom: -100%;
  z-index: 10;
}

.prices-menu__item {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  width: 25%;
  padding: 20px 15px 15px 15px;
  background-color: var(--secondary-text-color);
  border-radius: 15px 15px 0 0;
  justify-content: space-between;
  transition: scale 300ms var(--timing-function);

  &:hover {
    padding: 19px 14px 14px 14px;
    scale: 1.05;
    // outline: 1px solid var(--price-accent-color);
    border-top: 1px solid var(--price-accent-color);
    border-left: 1px solid var(--price-accent-color);
    border-right: 1px solid var(--price-accent-color);
  }
}

.prices-menu__img {
  width: 60px;
  height: 60px;
}

.prices-menu__svg {
  margin: 0 auto;
  width: 100%;
}

.prices-menu__content {
  width: 70%;
}

.prices-menu__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
  white-space: nowrap;
}

.prices-menu__info {
  color: var(--price-accent-color);
  text-align: center;
  font-size: 16px;
}

.prices-menu__price {
  color: var(--price-accent-color);
  font-weight: 600;
  font-size: 16px;
}
