.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  justify-content: end;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-right: 100px;
  top: 78%;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, #ffffff);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.4);
}

.swiper-pagination-bullet-active {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 12px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 12px)
  );
  opacity: var(--swiper-pagination-bullet-opacity, 1);
}

.swiper {
  width: 1170px;
  min-height: fit-content;
}

@media screen and (max-width: 1199px) {
  .swiper {
    width: 767px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .swiper {
    width: 345px;
  }
}
