* {
  font-family: var(--primary-font);
  font-size: 14px;
  margin: 0;
  line-height: 1.25;
  padding: 0;
}

body {
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
  display: block;
}

img {
  display: block;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section-title {
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
  margin: 0 0 30px 0;
}

.section-title--gradient {
  background: -webkit-linear-gradient(#333d5e, #4aa7f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title--white {
  color: var(--secondary-text-color);
}

.section-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-weight: 700;
}

.section-subtitle--blue {
  color: var(--accent-color);
}

.services-content__button {
  margin-top: 20px;
}

.menu-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.menu-arrow--big {
  border-top: 6px dashed;
  border-top: 6px solid\9;
  border-right: 6px solid rgba(0, 0, 0, 0);
  border-left: 6px solid rgba(0, 0, 0, 0);
}

.menu-arrow--right {
  transform: rotate(-90deg);
}

.text--lightblue {
  font-weight: 600;
  color: var(--light-blue-text);
}

// .btn-grad {
//   background-image: linear-gradient(
//     to right,
//     #191f32 0%,
//     #2380c9 51%,
//     #191f32 100%
//   );
//   font-size: 12px;
//   text-align: center;
//   padding: 10px 20px;
//   text-transform: uppercase;
//   transition: 0.5s;
//   background-size: 200% auto;
//   color: white;
//   box-shadow: 0 0 20px #eee;
//   border-radius: 15px;
//   display: block;
//   white-space: nowrap;
// }

// .btn-grad:hover {
//   background-position: right center; /* change the direction of the change here */
//   color: #fff;
//   text-decoration: none;
// }

.dropdown__button {
  border: none;
  background-color: transparent;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-weight: 500;
  padding: 15px 5px;
  align-items: center;
  display: flex;
  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: color var(--timing-function),
    background-color var(--timing-function), background var(--timing-function);
  height: max-content;
  width: max-content;
}

// .button--white {
//   color: var(--accent-color);
//   background-color: var(--primary-background-color);

//   &:hover {
//     color: var(--secondary-text-color);
//     background-color: transparent;
//   }
// }

.button--transparent {
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid var(--primary-background-color);
  transition: border var(--timing-function),
    background-color var(--timing-function), color var(--timing-function);

  &:hover {
    color: var(--accent-color);
    background-color: var(--primary-background-color);
  }
}

.button--sm {
  padding: 5px 20px;
}

.button--white {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    // background-color: var(--light-blue-text);
    border-color: var(--light-blue-text);
  }
}

.btn-grad {
  background: linear-gradient(0deg, #144da4, transparent) #144da4;
  color: var(--secondary-text-color);
}
.btn-grad:hover,
.btn-grad:focus {
  background: linear-gradient(0deg, #144da4, transparent) #4aa7f0;
}

.dropdown__menu {
  background-color: var(--secondary-background-color);
  z-index: 1;
  position: absolute;
  top: 58px;
  left: 0;
  display: none;

  padding: 0;
}

.dropdown__menu--white {
  background-color: var(--primary-background-color);
}

.dropdown--mt14 {
  margin-top: -14px;
}

.dropdown__link {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  white-space: nowrap;
  padding: 10px 15px;
  transition: background-color var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--light-blue-text);
    color: var(--secondary-background-color);
  }
}

.dropdown__button--open + .dropdown__menu {
  display: block;
}

.dropdown__link--black {
  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 24px;
  }
  .dropdown__link {
    color: var(--secondary-text-color);
    transition: color var(--timing-function),
      background-color var(--timing-function);

    &:hover {
      color: var(--primary-text-color);
    }
  }

  //   .dropdown__link:hover {
  //     color: var(--primary-text-color);
  //   }
  // }

  .dropdown__button--open ~ .dropdown__menu {
    max-height: 35rem;
  }

  .dropdown__button {
    padding-left: 0;
    padding-right: 0;

    width: 100%;
    justify-content: space-between;
    // border-bottom: 0.5px solid currentColor;
  }

  .dropdown__menu {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height var(--timing-function);
    top: 0;
  }
}
