:root {
  --primary-font: "IBM Plex Sans", sans-serif;
  --title-font: "Fira Sans Condensed", sans-serif;

  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --light-blue-text: #a8d5f8;

  --accent-color: #4aa7f0;

  --primary-background-color: #ffffff;
  /* --secondary-background-color: linear-gradient(red, yellow); */
  --secondary-background-color: #191f32;

  --opacity-text-color: rgba(255, 255, 255, 0.6);

  /* --card-set-gap: 30px; */

  /* --timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
