:root {
  --primary-font: "IBM Plex Sans", sans-serif;
  --logo-font: "Fira Sans Condensed", sans-serif;

  // --title-font: "Nunito Sans", sans-serif;
  --title-font: "Inter", sans-serif;
  --buttons-font: "Inter", sans-serif;
  // --title-font: "Lato", sans-serif;
  // --title-font: "Libre Franklin", sans-serif;
  // --title-font: "Montserrat", sans-serif;

  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --light-blue-text: #a8d5f8;
  --grey-text-color: #6c6c6c;
  --price-accent-color: #333d5e;

  --accent-color: #4aa7f0;

  --primary-background-color: #ffffff;
  /* --secondary-background-color: linear-gradient(red, yellow); */
  --secondary-background-color: #191f32;

  --opacity-text-color: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* --card-set-gap: 30px; */

  /* --timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
